body{
  background-color: #F5F5F5;
}

.content_section{
  min-height: 500px;
}

.category .card-img-overlay {
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.3), rgb(255, 255, 255,0));
  cursor: pointer;
}

.category .card-img-overlay:hover{
  box-shadow: 0 10px 15px 0 rgba(7, 178, 246, 0.2), 0 6px 20px 0 rgba(9, 24, 235, 0.19);
  background-image: none;
}

.product .add-to-cart-btn{
  float: right;
  position: absolute;
  bottom:10px;
  right: 10px;
}
.fixed_header{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9;
  margin: 0;
  padding-left: 25px;
  padding-right: 25px;
  background: white;
  border-top: 1px solid grey;
  box-shadow: 0px 5px 20px #84a2c5;
}

.page-padding-top{
  padding-top: 100px;
}

.cart_count{
  position: relative;
  top: -10px;
  right: 10px;
  padding: 3px 6px 3px 6px;

}
.category .category_label {
  background-image: linear-gradient(to bottom right, rgb(3 3 3 / 100%), rgb(255, 255, 255,0));
  padding: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.product:hover, .account-menu:hover {
  box-shadow: 0 10px 15px 0 rgba(7, 178, 246, 0.2), 0 6px 20px 0 rgba(9, 24, 235, 0.19);
  cursor: pointer;
}

.account-menu{
  padding: 60px 20px 60px 20px ;
  box-shadow: 0px 5px 20px #84a2c5;

}

.link, a{
  color: black;
  cursor: pointer;
}
.link:hover, a:hover{
  text-decoration: none;
  color: rgb(0, 86, 179);
}

.vertical-timeline::before {
  background:black !important;
}

.breadcrumb{
  background: white;
  box-shadow: 0px 3px 15px #84a2c5;
}

@media only screen and (max-width: 600px) {
  .fixed_header{
    padding: 10px;
  }
  .fixed_header a{
    font-size:25px;
  }
  .page-padding-top{
    padding-top: 80px;
  }
  h1{
    font-size:30px !important;
  }
  h2{
    font-size:28px !important;
  }
  h3{
    font-size:25px !important;
  }
  h4{
    font-size:23px !important;
  }
  h5{
    font-size:20px !important;
  }
  h6{
    font-size:18px !important;
  }
  p, div{
    font-size:15px !important;
  }
}

@media only screen and (max-width: 350px) {
  .fixed_header{
    padding: 10px;
  }
  .fixed_header a{
    font-size:20px;
  }
  h1{
    font-size:28px !important;
  }
  h2{
    font-size:25px !important;
  }
  h3{
    font-size:23px !important;
  }
  h4{
    font-size:20px !important;
  }
  h5{
    font-size:18px !important;
  }
  h6{
    font-size:15px !important;
  }
  p, div{
    font-size:12px !important;
  }
  #cart-container{
    padding: 5px !important;
  }
  .order-detail-product-total-price{
    padding-top: 5px !important;
    border-bottom: 1px solid rgb(40, 145, 240);
  }

}

@media only screen and (max-width: 450px) {
  #checkout-date-selector div{
    display: block !important;
  }
}